@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #dfe9f5;
}

                                                            /* SIDEBAR STARTS */
nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(48, 48, 48);
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 20px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #0c8442;
    color:rgb(255, 255, 255);
    background:linear-gradient(to right,#333399 30%,#FF00CC);
    border-radius: 15px;
}
a.active{
    color:black;
    font-weight:500;
    background-color:rgb(2, 145, 43);
    border-radius:15px;
}
nav:hover {
    width: 280px;
    transform: all 0.5s ease;
}
                                                            /*SIDEBAR ENDS HERE  */


                                                            /* SECTION 1 STARTS */
.sec1 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)50%,
            rgba(0, 0, 0, 0.6)50%), url("images/main\ bg2.jpg");
    background-size: cover;
}

 h2 {
    color:whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    text-align: center;
    margin-top: 20rem;
    margin-left: 41rem;
    font-size: 40px;
}

h1 {
    position: absolute;
    top: 52%;
    left: 33%;
    font-size: 65px;
    font-family: "Anta", sans-serif;
    background-image: linear-gradient(34deg, hsl(113,83%,65%),hsl(164.429,83%,65%),hsl(215.857,83%,65%),hsl(267.286,83%,65%),hsl(318.714,83%,65%),hsl(10.143,83%,65%),hsl(61.571,83%,65%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.sec1 .slider {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 30rem;
    margin-left: 89px;
}

                                                            /* SECTION 1 ENDS */                                              


                                                            /* SECTION 2 STARTS */

.sec2 {
    height: 100vh;
    display: flex;
    background-color: #ffffff;
    background-image: url(images/bg\ 2.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.sec2 .form {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 350px;
    padding: 20px;
    border: none;
    box-shadow: 1px 1px 3px 3px rgb(182, 182, 182);
    /* border:2px solid white;
    background:transparent;
    backdrop-filter: blur(10px); */
    border-radius: 10px;
}

.sec2 form {
    display: grid;
    gap: 2px;
}

.sec2 label {
    color: whitesmoke;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.sec2 input[type="radio"]:checked {
    background-color: #439e46;
}

.sec2 input[type="radio"] {
    color: rgb(15, 134, 82);
    margin: 4px 5px 0 0;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid #439e46;
    outline: none;
}

.sec2 input[type="text"],
.sec2 input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 3px 3px rgb(182, 182, 182); */
}

.sec2 input[type="text"]:hover {
    box-shadow: 1px 1px 4px 4px rgb(15, 134, 82);
}

.sec2 input[type="number"]:hover {
    box-shadow: 1px 1px 4px 4px rgb(15, 134, 82);
}

.sec2 select {

    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 3px 3px rgb(182, 182, 182); */
}

.sec2 select:hover {
    box-shadow: 1px 1px 4px 4px rgb(15, 134, 82);
}

.sec2 button {
    background-color: #28782b;
    color: white;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 1px 2px 5px 5px rgb(190, 191, 191); */
}

.sec2 button:hover {
    color: black;
    background-color: #5ed162;

}

.sem {
    display: flex;
    position: relative;
    padding: 15px 3px;
    gap: 10px;
}

                                                            /* SECTION 2 ENDS */


                                                            /* SECTION 3 STARTS */
.sec3 {
    height: 100vh;
    background-color: rgb(139, 191, 233);
    background-image: url(images/sec3bg.jpg);
    background-size: cover;
    background-position: center;
}

.sec3 img {
    margin-left: 61rem;
    margin-top: 18rem;
    filter: drop-shadow(25px 55px 25px rgb(0, 0, 0));
    transform: scaleX(1);
}

                                                            /* SECTION 3 ENDS */


                                                            /* SECTION 4 STARTS */
.sec4 {
    height: 100vh;
    background-image: url(images/sec4bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: indigo;
}

.sec4 .left_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 1500px;
    width: 400px;
    height: 27rem;
    padding: 20px;
    margin-left: 20rem;
    margin-top: 11rem;
    border: none;
    box-shadow: 1px 1px 5px 5px rgb(0, 0, 0);
}

.sec4 .btn1 {
    width: 9rem;
    height: 40px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 6rem;
    background-color: rgb(24, 141, 250);
    border-radius: 10px;
}


.sec4 .btn1:hover {
    color: rgb(255, 255, 255);
    background-color: green;
    transform: scale(1.2);
}

.sec4 label {
    display: flex;
    padding: 2px;
    margin-top: 25px;
    margin-left: 4rem;

}

.sec4 input[type="text"] {
    width: 14rem;
    padding: 8px;
    border-radius: 10px;
    margin-left: 4rem;
    /* box-shadow: 1px 1px 3px 3px rgb(182, 182, 182); */
}

.sec4 input[type="text"]:hover {
    box-shadow: 1px 1px 4px 4px rgb(38, 141, 214);
}

.sec4 select {
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    margin-left: 4rem;
    /* box-shadow: 1px 1px 3px 3px rgb(182, 182, 182); */
}

.sec4 select:hover {
    box-shadow: 1px 1px 4px 4px rgb(38, 141, 214);
}

.sec4 .btn2 {
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 8rem;
    color: whitesmoke;
    background-color: #7b0505;
    border-radius: 10px;
}

.sec4 .btn2:hover {
    color: white;
    background-color: green;
    transform: scale(1.2);
}

.right_container {
    max-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 1500px;
    width: 400px;
    height: 27rem;
    padding: 20px;
    margin-left: 50rem;
    margin-top: 11rem;
    border: none;
    box-shadow: 1px 1px 5px 5px rgb(0, 0, 0);
}

.right_container button {
    width: 9rem;
    height: 40px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 6rem;
    background-color: rgb(24, 141, 250);
    border-radius: 10px;
}

.right_container button:hover {
    color: white;
    background-color: green;
    transform: scale(1.2);
}

.right_container label {
    color: whitesmoke;
    display: flex;
    padding: 2px;
    border: none;
    margin-top: 30px;
    margin-left: 4rem;
}

.right_container input[type="number"] {
    width: 14rem;
    padding: 8px;
    border-radius: 10px;
    margin-left: 4rem;
    /* box-shadow: 1px 1px 3px 3px rgb(182, 182, 182); */
}

.right_container input[type="number"]:hover {
    box-shadow: 1px 1px 4px 4px rgb(38, 141, 214);
}

                                                            /* SECTION 4 ENDS */


                                                            /* SECTION 5 STARTS */
.sec5 {
    height: 100vh;
    background-image: url(images/secbg5.jpg);
    background-size: cover;
    background-position: center;
}

                                                            /* SECTION 5 ENDS */


                                                            /* SECTION 6 STARTS */
.sec6 {
    height: 100vh;
    background-color: yellow;
    background-image: url(images/major\ bg1.jpg);
    background-size: cover;
    background-position: center;
}

                                                             /* SECTION 6 ENDS */
